{% extends 'layout.twig' %}

{% block body %}
    {% include "includes/_navbar.twig" with user %}
    <div class="container mt-5 bg-light rounded">
        <h1 class="mb-4 pt-4">Chefing - Shopping List App</h1>
        <hr>
        <form method="post" class="mb-4">
            <label for="item-name"></label>
            <div class="form-row">
                <div class="col-4">
                    <input type="text" id="item-name" class="form-control" name="item" placeholder="Add item to your shopping list" required autofocus>
                </div>
                <div class="col-2">
                    <input type="text" id="item-name" class="form-control" name="quantity" placeholder="Quantity">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-info">Add +</button>
                </div>
            </div>
        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        {% if items %}
            {% include 'includes/_item_tables.twig' with items %}
        {% else %}
            <p>No item in your shopping list...</p>
        {% endif %}
    </div>
    <footer class="container">
        <i>Made by Yahia, code on my <a href="//github.com/awuzi/chefing-shopping-app" target="_blank">Github</a></i>
    </footer>
{% endblock %}
